{% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<!-- README content -->
<div class="caption-full">
	<div class="containner">
        <form method="POST">
            <h1>ABOUT</h1>
            {{ form.hidden_tag() }}
            <div>
                {{ form.pagedown.label }}</b>:
                {{ form.pagedown(rows=20, style='width:100%') }}
            </div>
            <br>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</div>
{% endblock %}  