{% extends "layout_display.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<!-- README content -->
<div class="caption-full">
	<div class="containner">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div align="center">
                <h1>{{title}}</h1>
                <hr>
                <b>{{ form.pagedown.label }}</b>:
                <div style="margin-left:20px; margin-right:20px">
                {{ form.pagedown(rows=15, style='width:100%') }}
            </div>
            <br>
            <div>{{ form.submit() }}</div>
            </div>
        </form>
    </div>
</div>
{% endblock %}  