{% extends "layout_display.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<!-- README content -->
<div class="caption-full">
	<div class="containner">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                <h2>{{ form.pagedown.label }}</h2>:
                {{ form.pagedown(rows=15, style='width:80%') }}
            </div>
            <br>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</div>
{% endblock %}  