{% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href="#" class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}

<div class="caption-full">
    
    <h1>OctoPuppy</h1> 
    <hr>
  <img src="http://2.bp.blogspot.com/-zhk--TqYe9g/UjxUi3SwiuI/AAAAAAAAADo/F1DBb0b1kEc/s1600/Oct-header2.jpg" style="width:70%">
<br/>
    <h4>OctoPuppy is a platform allowing OpenMindClub members to: </h4>
<br/>
    <ul style="list-style-type:square">
        <li>Sniff other members progress within ONE click!</li>
<br/>     
        <li>Interact with each group and gain feedback!</li>
<br/>
        <li>Get your ranking!</li>
<br/>
        <li>More exicting functions COMING SOON!</li>
        <hr>
</div>
{% endblock %}                   

               

               
                