{% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href="#" class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<img class="img-responsive" src="https://avatars1.githubusercontent.com/u/1125054?v=3&s=460" alt="banner" style="width:304px;height:300px;">
<div class="caption-full">
    <h6 class="pull-right">A OpenMindClub Project</h6>
    <h4><a href="#">OctoDog</a></h4>
    <p>is a platform allowing OpenMindClub members to:</p>
    <ul style="list-style-type:square">
        <li><strong>Sniff other members progress within ONE click!</strong></li>
        <li><strong>Interact with each group and gain feedback!</strong></li>
        <li><strong>More exicting functions COMING SOON!</strong></li>
</div>
{% endblock %}                   

               

               
                