{% extends "layout_display.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<!-- README content -->
<div class="caption-full">
	<div class="containner">
        <div align="center">
            <h1>{{title}}</h1>
        </div>
        <hr>
        <div style="margin-left:20px; margin-right:20px">
            {% filter markdown %}
            {{ content }}
            {% endfilter %}
        </div>
    </div>
</div>
</div>
{% endblock %}  