{% extends "layout_display.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<!-- README content -->
<div class="caption-full">
	
        <h1 align="center">{{title}}</h1>
        <hr>
        <div>
            {% filter markdown %}
            {{ content }}
            {% endfilter %}
        </div>
    
</div>
</div>
{% endblock %}  