<html>
    {% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}


<html lang="en">
<div style="background-color:whitesmoke; color:black; padding:20px;">
    
  <!-- github star & fork 这里有个username还未定义，例：username=OctoPuppy repo=OctoDog -->
    <iframe style="margin-left:500px;float:right" src="https://ghbtns.com/github-btn.html?user=OctoPuppy&repo=OctoDog&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px">     
    </iframe>
          
    <iframe style="float:right" src="https://ghbtns.com/github-btn.html?user=OctoPuppy&repo=Octodog&type=fork&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px">
    </iframe>
<div id="content">
    
    
   
<h1><sup>{{ repo }}</sup></h1>
<hr>
    
<!-- form -->

<HEAD>
<SCRIPT LANGUAGE="javascript">
 function CreateMsg() {
  var MsgDOM = document.getElementById("MSG");
MsgDOM.innerHTML = "Introduction: " + document.forms[0].intro.value  + "  Repository: " + document.forms[0].repo.value;
 }
</SCRIPT>
</HEAD>
<BODY>
<FORM NAME="intro">
<p>Introduction Link</p>
<INPUT TYPE=TEXT NAME=intro>
<p>Repository Link</p>
<INPUT TYPE=TEXT NAME=repo>
<BR><BR>
<A HREF="javascript:CreateMsg();">Submit</A>
<BR><BR>
<SPAN ID="MSG">&nbsp;</SPAN>
</FORM>
</BODY>

    
    
{% endblock %}  


                