{% extends "layout_display.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="caption-full">
    <div style="background-color:whitesmoke; color:black; padding:20px;">
        <iframe style="margin-left:500px;float:right" src="https://ghbtns.com/github-btn.html?user={{ownername}}&repo={{reponame}}&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    	<br>
    	<iframe style="float:right" src="https://ghbtns.com/github-btn.html?user={{ownername}}&repo={{reponame}}&type=fork&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

        <div class="containner">
            <h1>{{ reponame }}</h1> 
            <hr><br/>
            <div style="margin-left:20px; margin-right:20px">
                {% filter markdown %}
                {{ content }}
                {% endfilter %}
            </div>
        </div>
    </div>
</div>

{% include "repovisual.html" %}
{% endblock %}