{% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href="#" class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="caption-full">
<form method="post">
  <div class="form-group" align="center">
    {{ form.hidden_tag() }} <!--must have to approve the POST methos-->
    {{ form.repo_url.label(class="col-sm-3") }}
    <div class="col-sm-8">
    {{ form.repo_url(class="form-control",placeholder="http://github.com/user/repository") }}
  </div>
</div><br><br><br>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-8">
        {{ form.submit(class="btn btn-default") }}
      </div>
    </div>
</form>
</div>
{% endblock %} 

