{% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href="#" class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="caption-full">
<form method="post">
  <div class="form-group" align="center">
    {{ form.hidden_tag() }} <!--must have to approve the POST methos-->
    {{ form.repo_url.label(class="control-label") }}
    {{ form.repo_url(class="form-control") }}
  </div>
    {{ form.submit(class="btn btn-default") }}
</form>
</div>
{% endblock %} 

