 <head>
     <!-- Bootstrap Core CSS -->
    <link href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="../static/css/shop-item.css" rel="stylesheet">
</head>

{% extends "layout.html" %}
{% block list %}
<div class="list-group">
    {% for repo in repos %}
    <a href={{url_for('show_pro', reponame=repo)}} class="list-group-item">{{repo}}</a>
    {% endfor %}
</div>

{% endblock %}

{% block content %}

<div class="caption-full">
    <div align="center">
        <h1>Rank</h1>
        <hr>
        <iframe width="800" height="700" frameborder="0" seamless="seamless" scrolling="no" src= {{ploturl}} ></iframe>

        <!-- D3.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
        <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    </div>
</div>
{% endblock %}