<!DOCTYPE html>
<html lang='zh-CN'>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./static/css/codehilite.css">
	
	<!--link href="../static/css/bootstrap-md.css" rel="stylesheet"-->
</head>

<body>
<h3>什么是🐙🐶？</h3>
<blockquote>
<p>［Octocat／章鱼猫］是Github吉祥物，而［OctoPuppy／章鱼狗］通过其灵敏的嗅觉，<br>
	追踪开智班成员的章鱼猫commits，汇总于章鱼狗平台</p>
</blockquote>
<h3>🐙🐶会什么？</h3>
<ol>
<li>一键查看各组／各成员项目进展</li>
<li>芝麻星分值计算开源，团队／个人“KPI”可视化</li>
<li>当天精简日报输出</li>
<li>各团队工具箱曝光</li>
</ol>
<h3>🐙🐶开发进度</h3>
<ul>
<li>[x] 8w 网站基本成型<ul>
<li>[x] 框架</li>
<li>[x] 能完成的功能点: 项目基本信息展示+留言板</li>
<li>[ ] 测试反馈</li>
</ul>
</li>
<li>[ ] 9w 添加功能<ul>
<li>[ ] 日报</li>
<li>[ ] 各项目进展</li>
<li>[ ] 各项目成员contribution比例</li>
<li>[ ] 测试反馈</li>
</ul>
</li>
<li>[ ] 10w 测试+优化</li>
</ul>
<h3>🐙🐶版本迭代</h3>
<ul>

<li><a href="http://projboard.sinaapp.com/#">OctoPuppy1</a></li>
</ul>
<h3>🐶仔队</h3>
<ul>
<li>技术🐶团 @<a href="https://github.com/orgs/OctoPuppy/teams/optech">OPtech</a></li>
<li>观察🐶团 @<a href="https://github.com/orgs/OctoPuppy/teams/opobs">OPobs</a></li>
</ul>
<h3><a href="https://github.com/OctoPuppy/Octodog/wiki/%F0%9F%94%A7%E7%AE%B1">🔧箱</a></h3>

</body>
</html>