<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  
<style type='text/css'>
    #expand { border: solid 2px red; width: 20px; text-align: center; cursor: hand; float: left;}
    #frame {display: none;}
</style>

<script type='text/javascript' src='http://cdn.bootcss.com/jquery/2.1.4/jquery.js'></script>  

<script type='text/javascript'>
$(function() {
    $("#expand").click(function() {
        $("#frame").toggle();
        $("#frame").attr('src', "http://ghv.artzub.com/#repo={{reponame}}&user={{ownername}}&run");
        $(this).text( ( $(this).text() == "-" ) ? "+" : "-" );

    });
});

</script>

</head>
<body>
    <div id="expand">+</div> (show/hide) Repository Dynamic Visulization
    <iframe id="frame" src="" frameborder="0" height="600px" width="100%" scrolling="auto"></iframe>
</body>

</html>
