<!DOCTYPE html>
<html lang='zh-CN'>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./static/css/codehilite.css">
	
	<!--link href="../static/css/bootstrap-md.css" rel="stylesheet"-->
</head>

<body>
<h1>🔧箱</h1>
<p>使用提示：根据需求检索</p>
<p>欢迎各组资源分享：提交至<a href="https://github.com/OctoPuppy/Octodog/issues/16">🐙🐶issue</a></p>
<h2>技术相关</h2>
<h3>前端相关</h3>
<ul>
<li>谢辉 同学友情提供的<a href="https://github.com/rayxiehui/OMOOC2py/tree/master/_src/om2py4w/4wex0">前端设置</a></li>
<li>看到觉得不错的网页可以右键点击"检查" (Chrome浏览器) 直接查看源代码, 最直接的学习方法</li>
<li>Disqus - 前端加代码即可</li>
<li>bootstrap - 模板</li>
<li>bootstrap GUI 也是drag &amp; drop实现 <a href="http://www.layoutit.com/">Layoutit</a></li>
<li><a href="http://www.runoob.com/try/bootstrap/layoutit/">bootstrap可视化编辑</a> 感谢弓箭教练推荐~可视化编辑前端直接下载代码</li>
<li><a href="http://www.sitepoint.com/top-10-front-end-development-frameworks/">十大前端框架</a></li>
<li>html css js教程汇 <a href="http://www.w3schools.com/html/">w3School</a></li>
<li>APP轮播插件 <a href="http://www.idangero.us/swiper/#.VmwgYsrPeCS">Swiper</a></li>
<li><a href="https://buttons.github.io/">github fork &amp; star</a> 插件</li>
</ul>
<h3>API</h3>
<ul>
<li><a href="https://en.wikipedia.org/wiki/OAuth">什么是Oauth协议</a></li>
<li><a href="https://developer.github.com/v3/">Github API Oauth支持</a></li>
</ul>
<h3>数据可视化</h3>
<ul>
<li><a href="https://www.zhihu.com/question/19929609">一些可视化工具</a></li>
</ul>
<h3>后端相关</h3>
<ul>
<li><a href="http://flask.pocoo.org/">flask</a> or <a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">flask 教程</a><ul>
<li><a href="https://github.com/miguelgrinberg/flasky">flask web development</a></li>
</ul>
</li>
<li><a href="https://github.com/docker/docker">docker</a> (非必需)</li>
<li>github API <ul>
<li><a href="https://developer.github.com/v3/">文档</a></li>
<li>Python libraries:<ul>
<li><a href="https://github.com/PyGithub/PyGithub">PyGithub</a></li>
<li><a href="https://github.com/copitux/python-github3">Pygithub3</a></li>
<li><a href="https://github.com/sigmavirus24/github3.py">github3.py</a></li>
<li><a href="http://github-flask.readthedocs.org/en/latest/">github-flask</a></li>
</ul>
</li>
</ul>
</li>
<li>技术对接，小赖组的gitbook订阅和互动项目<a href="https://wp-lai.gitbooks.io/learn-python/content/team/1208.html">gitbook monitor</a></li>
</ul>
<h3>测试</h3>
<ul>
<li>✳️<a href="https://github.com/Run-map">［RUNMAP］</a>分享：<a href="http://note.youdao.com/groupshare/web/file.html?token=486B9B46130D491B89CBB0177EEB05C7&amp;gid=15172380">卓有成效的移动App系统测试</a></li>
</ul>
<h2>设计相关</h2>
<h3>产品设计</h3>
<ul>
<li>✳️<a href="https://github.com/Run-map">［RUNMAP］</a> 分享:中科院计算所培训中心<a href="http://note.youdao.com/groupshare/web/file.html?token=14EBFDDCC9B44F3E9CE11A1B74ED480B&amp;gid=15172380">《高质量软件需求工程》</a></li>
<li>✳️<a href="https://github.com/Run-map">［RUNMAP］</a> 分享:<a href="http://note.youdao.com/groupshare/web/file.html?token=08E55993ED4A48B7992917C357DFFED7&amp;gid=15172380">用户界面设计原理</a></li>
<li>✳️<a href="https://github.com/Run-map">［RUNMAP］</a>分享 :<a href="http://note.youdao.com/groupshare/web/file.html?token=9D0D24FDC24B41F1922622F506C047C5&amp;gid=15172380">产品经理必读：移动APP项目研发流程及版本规划</a></li>
<li>✳️<a href="https://github.com/Run-map">［RUNMAP］</a>分享 :<a href="http://note.youdao.com/groupshare/web/file.html?token=4E6E39BBBDB94846B7EB64F5AE8604FE&amp;gid=15172380">产品经理敏捷实践：如何让团队的迭代效率更高</a></li>
</ul>
<h3>UI设计</h3>
<ul>
<li><a href="http://www.axure.com/">Axure</a> 交互原型web&amp;app原型设计</li>
<li><a href="https://modao.cc/">墨刀</a> 10分钟搭建可点击app原型 </li>
</ul>
<h2>项目管理</h2>
<h3>团队协作</h3>
<ul>
<li><a href="http://jeffkreeftmeijer.com/2010/why-arent-you-using-git-flow/">gitflow是什么</a></li>
<li><a href="https://help.github.com/articles/github-flow-in-the-browser/">github flow in Browser</a></li>
<li><a href="http://www.ruanyifeng.com/blog/2012/07/git.html">阮一峰git branch分支管理</a></li>
<li><a href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000/0013743862006503a1c5bf5a783434581661a3cc2084efa000">廖雪峰github多人协作教程</a></li>
<li><a href="https://github.com/xpgeng/straypetshelper/issues/1">带ta回家git flow资料搜集</a></li>
</ul>
<h3>Git &amp; Github</h3>
<ul>
<li><a href="https://github.com/phodal/github-roam">GitHub 漫游指南</a></li>
<li><a href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">廖雪峰Git教程</a></li>
<li><a href="https://training.github.com/kit/downloads/github-git-cheat-sheet.pdf">Git Cheat Sheet</a></li>
<li><a href="http://www.ruanyifeng.com/blog/2015/12/git-cheat-sheet.html">常用 Git 命令清单</a></li>
<li>aJiea的<a href="https://ajiea.gitbooks.io/miss-python-and-the-holy-geeks/content/8wd3_github_branch_push.html">git branch push教程</a></li>
</ul>
<h3>团队沟通</h3>
<ul>
<li><a href="http://www.webex.com.cn/">Webex</a> 多人远程会议支持＋屏幕分享</li>
<li><a href="http://www.qiniu.com/">QINIU</a>生成录音网址(苹果设备录音，直接修改后缀m4a为mp3)</li>
<li><a href="http://qun.hk">群友通讯录</a></li>
<li><a href="https://groups.google.com/d/msgid/run-map/201512090151396789375%40foxmail.com?utm_medium=email&amp;utm_source=footer">Google group</a></li>
<li>片段代码沟通<a href="https://gist.github.com/">Gist</a></li>
<li>话题式web版智能沟通，便于代码，网页，文件交流和归类 <a href="www.slack.com">slack</a></li>
<li>轻量级网络版项目管理<a href="https://basecamp.com/">BaseCamp</a></li>
</ul>
<h3>项目展示</h3>
<ul>
<li><a href="http://goanimate.com/">GoAnimate</a> 制作卡通小短片~有趣~</li>
<li><a href="https://github.com/theonewolf/TermRecord">TermRecord</a> 命令行视频录制 并可生成html (大妈用的就是这个)</li>
</ul>
<h3>效率提升</h3>
<ul>
<li>✳️<a href="https://github.com/Run-map">［RUNMAP］</a>分享：<a href="http://note.youdao.com/groupshare/web/file.html?token=47A3BFD2D17C40598A8107120F68628A&amp;gid=15172380">mailing list整理</a></li>
</ul>
<h2>增加个人魅力的冷知识</h2>
<ul>
<li>NBA球员效率值(Player efficiency rating)<a href="http://baike.baidu.com/view/4674427.htm">霍林格效率值</a> <a href="https://en.wikipedia.org/wiki/Player_efficiency_rating">wiki</a></li>
<li>文本编辑论 <a href="https://en.wikipedia.org/wiki/WYSIWYG">What You See Is What You Get</a></li>
<li>编辑器里常出现的默认<a href="https://en.wikipedia.org/wiki/Lorem_ipsum">Lorem ipsum</a></li>
</ul>

</body>
</html>